[Unit]
Description=systemd unit to automatically start GPIO bumpers pull-up

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gpio -g mode 23 up
ExecStart=/usr/local/bin/gpio -g mode 24 up
ExecStart=/usr/local/bin/gpio -g mode 25 up

[Install]
WantedBy=multi-user.target
