/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target-path = "/soc";
		__overlay__ {
			keypad: keypad {
				compatible = "gpio-keys";
				#address-cells = <1>;
				#size-cells = <0>;
				button@23 {
					label = "Shutdown button";
					linux,code = <116>;
					linux,input-type = <1 22>;
					gpios = <&gpio 23 0>;
				};
				button@24 {
					label = "Front bumper right";
					linux,code = <49>;
					linux,input-type = <1 22>;
					gpios = <&gpio 24 0>;
				};
				button@25 {
					label = "Front bumper left";
					linux,code = <49>;
					linux,input-type = <1 22>;
					gpios = <&gpio 25 0>;
				};
			};
		};
	};

	fragment@1 {
		target = <&leds>;
		__overlay__ {
			bnogreen: bnogreen {
				label = "BNOGreen";
				gpios = <&gpio 10 1>;
				linux,default-trigger = "mmc0";
			};

			bnoblue: bnoblue {
				label = "BNOBlue";
				gpios = <&gpio 11 1>;
			};

			bnored: bnored {
				label = "BNORed";
				gpios = <&gpio 9 1>;
			};

			ledgreen: ledgreen {
				label = "LedGreen";
				gpios = <&gpio 26 0>;
			};

			ledblue: ledblue {
				label = "LedBlue";
				gpios = <&gpio 13 0>;
			};

			ledred: ledred {
				label = "LedRed";
				gpios = <&gpio 19 0>;
			};
		};
	};
};
