/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target-path = "/soc/gpio";
		__overlay__ {
			bumper_pin: bumper_pin {
				brcm,function = <0x0>;
				brcm,pull = <0x2>;
				brcm,pins = <0x20>;
			};
		};
	};

	fragment@1 {
		target-path = "/soc";
		__overlay__ {
			keypad: keypad {
				compatible = "gpio-keys";
				#address-cells = <1>;
				#size-cells = <0>;
				button@13 {
					label = "Shutdown button";
					linux,code = <116>;
					linux,input-type = <1 22>;
					gpios = <&gpio 13 0>;
				};
				button@19 {
					label = "Front bumper left";
					linux,code = <48>;
					linux,input-type = <1 22>;
					gpios = <&gpio 19 0>;
				};
				button@26 {
					label = "Front bumper right";
					linux,code = <49>;
					linux,input-type = <1 22>;
					gpios = <&gpio 26 0>;
				};
			};
		};
	};
};
