/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";
	fragment@0 {
		target-path = "/soc/gpio";
		__overlay__ {
			bumper_pin: bumper_pin {
				brcm,function = <0x0>;
				brcm,pull = <0x2>;
				brcm,pins = <0x20>;
			};
		};
	};

	fragment@1 {
		target-path = "/soc";
		__overlay__ {
			keypad: keypad {
				compatible = "gpio-keys";
				#address-cells = <1>;
				#size-cells = <0>;
				button@21 {
					label = "Shutdown GPIO button";
					linux,code = <116>;
					linux,input-type = <1 22>;
					gpios = <&gpio 21 0>;
				};
				button@20 {
					label = "Front bumper";
					linux,code = <48>;
					linux,input-type = <1 22>;
					gpios = <&gpio 20 0>;
					pinctrl-0 = <&bumper_pin>;
					pinctrl-names = "default";
				};
			};
		};
	};
};

